@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  background: url("/public/iamges/Landing\ Page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@utility container {
  margin-inline: auto;
  width: 1360px;
}

@theme {
  --color-text: #ff014f;
  --font-main: "Inter", sans-serif;
}
